<h2 id="methods"><span aria-hidden="true">📖</span>&nbsp;Methods</h2>
<p>AutoComplete comes with several public methods that you can call at any time after instantiation. The following methods allow to programmatically interact with input and menu.</p>

<%= require('./table.ejs')() %>
<%= require('./destroy.ejs')() %>
<%= require('./enable-disable.ejs')() %>
<%= require('./open-close.ejs')() %>
<%= require('./search-clear.ejs')() %>
<%= require('./select-highlight.ejs')() %>
