<h2 id="options"><span aria-hidden="true">📦</span>&nbsp;Options</h2>
<p>AutoComplete comes with plenty options to easily customize and extend possibilities.</p>

<%- include('./table.ejs') -%>
<%- include('./source.ejs') -%>
<%- include('./async.ejs') -%>
<%- include('./filterResults.ejs') -%>
<%- include('./sortResults.ejs') -%>
<%- include('./renderItem.ejs') -%>
<%- include('./highlighter.ejs') -%>
<%- include('./menuTarget.ejs') -%>
<%- include('./classes.ejs') -%>
<%- include('./messages.ejs') -%>
