<h2 id="options"><span aria-hidden="true">📦</span>&nbsp;Options</h2>
<p>AutoComplete comes with plenty options to easily customize and extend possibilities.</p>

<%= require('./table.ejs')() %>
<%= require('./source.ejs')() %>
<%= require('./async.ejs')() %>
<%= require('./filterResults.ejs')() %>
<%= require('./sortResults.ejs')() %>
<%= require('./renderItem.ejs')() %>
<%= require('./highlighter.ejs')() %>
<%= require('./menuTarget.ejs')() %>
<%= require('./classes.ejs')() %>
<%= require('./messages.ejs')() %>
