<h2 id="getting-started"><span aria-hidden="true">🚀</span>&nbsp;Getting Started</h2>
<p>To use AutoComple on your site, you need to import JavaScript/CSS assets and to instantiate the main <code>class</code> with an <code>HTMLElement</code>.</p>

<%- include('./installation.ejs') -%>
<%- include('./import.ejs') -%>
<%- include('./assets.ejs') -%>
<%- include('./markup.ejs') -%>
<%- include('./initialize.ejs') -%>
