<h2 id="getting-started"><span aria-hidden="true">🚀</span>&nbsp;Getting Started</h2>
<p>To use AutoComple on your site, you need to import JavaScript/CSS assets and to instantiate the main <code>class</code> with an <code>HTMLElement</code>.</p>

<%= require('./installation.ejs')() %>
<%= require('./import.ejs')() %>
<%= require('./assets.ejs')() %>
<%= require('./markup.ejs')() %>
<%= require('./initialize.ejs')() %>
